<h1>Gijoes</h1>
<p>Add a <%= link_to 'new joe', new_gijoe_path %> </p>
<table class="table">
  <thead>
    <tr><th>Name</th><th></th></tr>
  </thead>
<% @joes.each do |joe| %>
  <tr>
    <td><%= joe.name %></td><td><%= link_to 'view', gijoe_path(joe)%></td>
  </tr>
<% end %>
</table>
